PORT=3000
API_VERSION=1
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=excellent_db
JWT_SECRET=chave_secreta12345678909f3b8a7c4e6d1f2a9b3c8d7e6f5a4b3c
