<mat-card *ngIf="product">
    <mat-card-header>
        <mat-card-title>{{ product.description }}</mat-card-title>
        <mat-card-subtitle>Preço: R$ {{ product.price }} | Estoque: {{ product.stock }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="images-container" *ngIf="product.images?.length > 0">
            <img *ngFor="let img of product.images" [src]="'http://localhost:3000' + img.url"
                alt="{{ product.description }}" class="product-image">
        </div>
        <div *ngIf="!product.images?.length">
            Nenhuma imagem disponível.
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goBack()">
            Voltar
        </button>
    </mat-card-actions>
</mat-card>
