.container {
    height: 100vh;
}

.sidenav {
    width: 250px;
    background: #5793f3;
    color: white;
}

.logo {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    color: black
}

mat-nav-list a {
    color: white;
}

.content {
    padding: 30px;
}

.layout {
    height: 100vh;
    background-color: #444444;
}

.left-content {
    padding: 30px;
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.spacer {
    flex: 1 1 auto;
}

.dashboard-container {
    height: 100vh;
    background-color: #f5f5f549;
}
